/****************************************************  VERSIONE DESKTOP  *************************************************************/

/**********************
    REGOLE GENERALI
***********************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 13px;
}

body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;    
    font-size: 1rem ;
    font-weight: bold;
    color: white;
    overflow: hidden;                                   /* Blocca scroll pagina */
}

h3 {
    padding-bottom: 10px;
    padding-left: 15px;
}

a {
    text-decoration: none;
    color: white;
    opacity: 0.7;
}

a:hover, .active {
    opacity: 1;
}

#nav-app {
    position: relative;
}

#nav-app a.active::before {
    content: ' ';
    background-color: rgb(13, 255, 0);
    width: 4px;
    height: 20%;
    left: 0;
    position: absolute;
}

/** CONTENITORE PRINCIPALE PAGINA */
#container-top-main {
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;

    /*! Debug */
    background-color: rgb(241, 26, 241);
}


/***************************
    CLASSI RIUTILIZZABILI
***************************/


/*************************
    SEZIONI PRINCIPALI
**************************/

/** CONTAINER TOP MAIN LEFT */
#container-top-main-left {
    width: 17%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(0, 0, 0);
}

#container-top-main-left ul {
    list-style-type: none;
    padding-left: 15px;
}

#container-top-main-left li {
    padding-bottom: 15px;
}

/* LOGO SPOTIFY */
.logo {
    padding-left: 15px;
    padding-top: 20px;
    /* padding: 10px; */
    /* background-color: black; */
}

#img-logo-big {
    width: 134px;
}

#img-logo-small {
    width: 30px;
    display: none;
}

/* Navigazione pagina */
#nav-app {

    /* margin-bottom: 20px; */

    /*! Debug  */
    /* height: 86px; */
    background-color: rgb(17, 80, 240);
}

#nav-page ul li, #playlist ul li {
    height: 100%;
    line-height: 100%;    
}

.img-nav-page {
    width: 27px;
    vertical-align: middle;
}

#img-home {
    /* todo Da sistemare*/
    /* border-left: 4px solid rgb(13, 255, 0); */
}


/** PLAYLIST */
#playlist {
    flex-grow: 1;                    
    overflow-y: auto;
    padding-bottom: 70px;                           /* Spazio riservato all’altezza del profilo utente (fixed) per evitare sovrapposizione */

    /*! Debug  */
    background-color: rgb(231, 83, 83);
}

#img-playlist {
    width: 50px;
    vertical-align: middle;
}

/** PROFILO UTENTE */

#profilo-utente {
    width: 17%;
    height: 70px;
    


    /* Position */
    position: fixed;
    bottom: 90px;                                   /* Spazio riservato all’altezza del container bottom main (fixed) per evitare sovrapposizione */

    /*! Debug*/                            
    background-color: rgb(255, 213, 0);
}



/** === PAGINA SUPERIORE DESTRA  === */
#container-top-main-right {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;

    /*! Debug */
    background-color: rgb(44, 165, 42);

}

/** === PAGINA INFERIORE === */
#container-bottom-main {
    width: 100%;
    height: 90px;

    /* Positiion */
    position: fixed;
    bottom: 0;

    /*! Debug */
    background-color: rgb(223, 143, 143);
}

/*****************************************************  VERSIONE TABLET  ***************************************************************/

/* todo VERSIONE TABLET */
@media screen and (max-width: 878px) {}

/**************************************************** VERSIONE SMARTPHONE *************************************************************/

/* todo VERSIONE SMARTPHONE - S */
@media screen and (max-width: 639px) {


}

/* todo VERSIONE SMARTPHONE - XS */
@media screen and (max-width: 552px) {


    /*************************
        SEZIONI PRINCIPALI
    **************************/

    /**********************
        REGOLE GENERALI
    ***********************/
    a.active::before {
        display: none;
    }

    /** CONTAINER TOP MAIN LEFT */
    #container-top-main-left {
        width: 10%;
        align-items: center;
    }

    #container-top-main-left ul {
        list-style-type: none;
        padding-left: 0;
    }

    #img-logo-big, .text-nav-app, #playlist {
        display: none;      
    }
    
    .logo {
        padding-left: 0;
    }
    
    #img-logo-small {
        display: block;
    }

      
}

/************************************************************ BONUS ********************************************************************/
/* todo Media Query - Height Viewport ridotta  */
@media screen and (max-height: 350px) {
   
}