/****************************************************  VERSIONE DESKTOP  *************************************************************/

/**********************
    REGOLE GENERALI
***********************/

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        font-size: 12px;
    }

    body {
        font-family: "Montserrat", sans-serif;
        font-style: normal;    
        font-size: 1rem ;
        font-weight: bold;
        color: white;
        overflow: hidden;                                   /* Blocca scroll pagina */
        background-color: #282828;
    }

    h3 {
        padding-bottom: 10px;
        padding-left: 15px;
    }

    a {
        text-decoration: none;
        color: white;
        opacity: 0.4;
    }


    a:hover, .active, #hr-user {
        opacity: 1;
    }

    /** CONTENITORE PRINCIPALE PAGINA */
        #container-top-main {
            width: 100%;
            height: calc(100vh - 90px);
            display: flex;
        }


/***************************
    CLASSI RIUTILIZZABILI
***************************/

    /** COLORI TESTI */
        .text-gray-transparent, #progress-bar {
            color: rgb(255, 255, 255, 0.4);
        }

/*************************
    SEZIONI PRINCIPALI
**************************/

    /** CONTAINER TOP MAIN LEFT */
        #container-top-main-left {
            min-width: 199px;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            gap: 20px;
            background-color: rgb(0, 0, 0);
        }

        #container-top-main-left ul {
            list-style-type: none;
            padding-left: 15px;
        }

        #container-top-main-left li {
            padding-bottom: 15px;
        }

        /** LOGO SPOTIFY */
            .logo {
                padding-left: 15px;
                padding-top: 20px;
            }

            #img-logo-big {
                width: 134px;
            }

            #img-logo-small {
                width: 26px;
                display: none;
            }

        /** NAVIGAZIONE APP */
            #nav-page ul li, #playlist ul li {
                height: 100%;
                line-height: 100%;    
            }

            .img-nav-app {
                width: 23px;
                vertical-align: middle;
            }

            #nav-app {
                position: relative;
            }

            #nav-app a.active::before {
                content: ' ';
                background-color: #ADFF2F;
                width: 2px;
                height: 20%;

                /* Position barra verde*/
                position: absolute;
                left: 0;
            }


        /** PLAYLIST */
            #playlist {
                flex-grow: 1;                    
                overflow-y: auto;
                padding-bottom: 70px;                           /* Spazio riservato ad  height di "Download App + User (fixed)" per evitare sovrapposizione */
            }

            #img-playlist {
                width: 47px;
                vertical-align: middle;
            }

        /** DOWNLOAD APP + USER */
            #download-user {
                min-width: 199px;
                height: 70px;
                padding-left: 15px;
                padding-bottom: 80px;
                background-color: black;

                /* Position */
                position: fixed;
                bottom: 100px;                                   /* Spazio riservato ad height (100px) di container bottom main per evitare sovrapposizionei */
            }

            #download-user > * {
                margin-bottom: 10px;
            }

            #container-download-app, #container-user {
                height: calc(70px/3); 
                line-height: calc(70px/3);
            }

            /* Download App */
                #circle-down {
                    padding-right: 5px;
                }

            /* separatore */
                #hr-user {
                    width: 89%;
                    height: 3%;
                    color: white;
                    opacity: 0.7;
                    border-style: solid;
                }

            /* User */
                #icon-user {
                    color: gray;
                    font-size: 2.0rem;
                    vertical-align: middle;
                    padding-right: 10px;
                }

                #name-user {
                    font-size: 1.3rem;
                }


    /** CONTAINER TOP MAIN RIGHT */
        #container-top-main-right {
            flex-grow: 1;
            height: 100%;
            overflow-y: auto;
            background-color: #141922;
        }

        /** CALL TO ACTION */
            #call-to-action {
                width: 100%;
                height: 100px;
                background-color: rgba(0, 0, 0, 0.5);

                /* Position */
                position: fixed;
                top: 0;
            }

            button {
                padding: 10px 30px;
                color: white;
                background-color: black;
                border-color: white;
                border-radius: 43px;

                /* Position */
                position: fixed;
                right: 10px;
                top: 30px;
            }

            button:hover {
                width: 220px;
                height: 45px;
            }

        /** CONTENITORE SEZIONE MEDIA */
           #container-media {
                padding: 100px 20px 0;                                /* Spazio riservato a call-to-action (Fixed) */
           }

            /* Nav Media */
                #nav-media {
                    text-align: center;
                }

                #nav-media ul li {
                    display: inline-block;
                    padding: 0 20px;
                    margin: 20px 0px;
                }

                #li-relative {
                    position: relative;
                }

                #li-relative a.active::before {
                    content: ' ';
                    background-color: #ADFF2F;
                    width: 29px;
                    height: 2px;

                    /* Position */
                    position: absolute;
                    top: 19px;
                    right: 48px;
                }

            /* MEDIA */

                /* Section media */
                    .flex-row {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 12px;
                    }

                    .card-media {
                        flex-basis: calc((100% - 60px)/6);
                    }

                    .card-media img {
                        max-width: 100%;
                        margin-bottom: 8px;
                        text-align: center;

                    }
                    
                    #container-media section { 
                        width: 100%;
                        margin-bottom: 30px;
                    }

                    .titolo-section-media {
                        margin: 20px 0;
                    }

                    .sottotitolo-section-media {
                        padding-top: 7px;
                    }
                    
                /* Sezione Recently Played */
                    .container-img {
                        max-width: 100%;
                        
                        /* Position */
                        position: relative;                         /* Relative per icon-play */
                    }

                    .img-hover:hover {
                        opacity: 0.5;
                    }
                    
                    .icon-play {
                        font-size: 3rem;
                            
                            /* Position */
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                    }

                /* Section Artisti PIù popolari */
                    #artisti-popolari {
                        padding-bottom: 20px;
                        margin-top: 40px;
                    }
                                
                    #artisti-popolari .card-media, #artisti-popolari img {
                        border-radius: 100%;
                    }
                    
    /** CONTAINER BOTTOM MAIN */
        #container-bottom-main {
            width: 100%;
            height: 100px;
            padding: 0 5px;

            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
        }

        /** PLAYER LEFT */
        #player-left {
            height: 50%;
            line-height: 50%;
            padding-left: 5px;
        }
        
            /* Info Brano */
                #player-left img {
                    width: 50px;
                }
                
                #container-titolo-player-left h4{
                    padding-bottom: 3px;
                }

                #player-left img, #container-titolo-player-left, #icon-player-left  {
                    display: inline-block;
                    vertical-align: middle;
                }

                #container-titolo-player-left, #icon-player-left i:nth-child(2) {
                    padding-left: 5px; 
                }


                #icon-player-left {
                    padding-left: 15px;
                }

                #icon-left {
                    padding-right: 8px;
                }

                #player-left a:hover {
                    text-decoration: underline;
                }

                #player-left i:hover {
                    color: rgb(255, 255, 255, 1);                
                }

                br {
                    display: none;
                }
                
        /** PLAYER CENTER */
        #player-center{
            text-align: center;
        }
            /* Controlli Player */
                #player-controls li {
                    display: inline-block;
                    list-style-type: none;
                    font-size: 2rem;
                    padding: 10px;
                }

                #icon-play {
                    font-size: 3rem;
                }

                #icon-play:hover {
                    font-size: 3.1rem;
                }

            /* Barra di Riproduzione */
                .progress-bar {
                    min-width: 350px;
                    display: inline-block;
                    border: 3px solid rgb(167, 167, 167);
                    border-radius: 2px;
                    margin: 0 20px;

                    /* Position */
                    position: relative;
                }

                #progress-time {
                    content: ' ';
                    background-color: white;
                    width: 70px;
                    height: 4px;
                
                    /* Position */
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transform: translate(-4%, 50%);
                }

                .progress-bar:hover #progress-time {
                    background-color: #ADFF2F;
                }
                
                #progress-thumb {
                    display: none;
                }

                .progress-bar:hover #progress-thumb {
                    display: inline-block;
                }

                #progress-thumb {
                    max-width: 10px;
                    height: 10px;
                    border: 5px solid white;
                    border-radius: 100%;

                    /* Position */
                        position: absolute;
                        left: 59px;
                        bottom: 0;
                        transform: translate(50%, 50%);
                }

        /** PLAYER RIGHT */ 
            #player-right {
                margin-right: 10px;
            }

            #player-right li {
                list-style-type: none;
                display: inline-block;
                padding-right: 5px;
                line-height: 50%;
                vertical-align: middle;
            }

            #volume-bar {
                border: 3px solid rgb(167, 167, 167);
                border-radius: 2px;
                min-width: 100px;

                /* Position */
                Position: relative;
            }

            #progress-volume {
                content: ' ';
                background-color: white;
                width: 30px;
                height: 4px;

                /* Position */
                position: absolute;
                left: 0;
                bottom: 0;
                transform: translate(-10%, 50%);
            }

            #progress-thumb-volume {
                display: none;
            }

            #volume-bar:hover #progress-volume{
                background-color: #ADFF2F;
            }

            #volume-bar:hover #progress-thumb-volume {
                display: inline-block;
            }
                        
            #progress-thumb-volume {
                max-width: 10px;
                height: 10px;
                border: 5px solid white;
                border-radius: 100%;

                /* Position */
                position: absolute;
                left: 22px;
                bottom: 0;
                transform: translate(50%, 50%);
            }

/*****************************************************  VERSIONE TABLET  ***************************************************************/

@media screen and (max-width: 878px) {

/*************************
    SEZIONI PRINCIPALI
**************************/

    /** CONTAINER TOP MAIN RIGHT */

        /** SEZIONE MEDIA */

            /* MEDIA */
                .card-media {
                    flex-basis: calc((100% - 36px)/4);
                }

    /** CONTAINER BOTTOM MAIN */

        /** PLAYER LEFT */
        
        #icon-player-left {
            padding-left: 1px;
        }
            
                       
        /** PLAYER CENTER */
       
            /* Barra di Riproduzione */
                .progress-bar {
                    min-width: 190px;
                }
}

/**************************************************** VERSIONE SMARTPHONE S *************************************************************/

@media screen and (max-width: 640px) {

/*************************
    SEZIONI PRINCIPALI
**************************/

    /** CONTAINER TOP MAIN RIGHT */

        /** SEZIONE MEDIA */

        /* MEDIA */
        .card-media {
            flex-basis: calc((100% - 12px)/2);
        }

    /** CONTAINER BOTTOM MAIN */

        /** PLAYER LEFT */
            /* Info Brano */
            #icon-left {
                padding-right: 3px;
            }

        /** PLAYER CENTER */
            /* Controlli Player */
                #icon-play {
                    font-size: 2.3rem;
                }

                #player-controls li {
                    padding: 5px;
                }

                /* Barra di Riproduzione */
                .progress-bar, #player-controls {
                    min-width: 110px;
                }

                .progress-bar {
                    margin: 0 7px;
                }
}

/**************************************************** VERSIONE SMARTPHONE XS *************************************************************/

@media screen and (max-width: 552px) {

/**********************
    REGOLE GENERALI
***********************/
    a.active::before {
        display: none;
    }

/*************************
    SEZIONI PRINCIPALI
**************************/

    /** CONTAINER TOP MAIN LEFT */
        #container-top-main-left {
            min-width: 39px;
            align-items: center;
        }

        #container-top-main-left ul {
            padding-left: 0;
            text-align: center;
        }

        #container-top-main-left li {
            padding-bottom: 15px;
        }

        .img-nav-app {
            display: block;
            margin: 0 auto;
            /* icone perfettamente centrate nel menu verticale */
        }

        #img-logo-big, .text-nav-app, #playlist {
            display: none;      
        }
        
        .logo {
            padding-left: 0;
        }
        
        #img-logo-small {
            display: block;
        }

        /** DOWNLOAD APP + USER */
            #download-user {
                min-width: 39px;
                padding-left: 0;
                text-align: center;
            }
            #text-download-app, #name-user {
                display: none;
            }

            /* separatore */
                #hr-user {
                    display: none;
                }

    /** CONTAINER TOP MAIN RIGHT */

        /** SEZIONE MEDIA */

            /* Nav Media */
            #nav-media {
                font-size: 0.9rem;
            }

    /** CONTAINER BOTTOM MAIN */
            
        /** PLAYER LEFT */

            /* Info Brano */
                br {
                    display: block;
                }

                #nome {
                    display: block;
                    padding-top: 3px;
                }

                #container-titolo-player-left h4 {
                    padding-bottom: 6px;
                }

                #icon-player-left {
                    padding-left: 7px;
                }

        /** PLAYER CENTER */
        
            /* Barra di Riproduzione */
            
            #player-progress {
                font-size: 0.9rem;
            }

            .progress-bar {
                    min-width: 77px;
            }
        
            .progress-bar {
                margin: 0 7px;
            }
                                
}

/************************************************************ BONUS ********************************************************************/

/* Media Query - Height Viewport ridotta  */
@media screen and (max-height: 350px) {
   
}